services:
  angular-frontend:
    image: sanchaljustgrow/docker-testnew-frontend:latest
    container_name: angular-frontend
    ports:
      - "8081:80"
    environment:
      API_URL: "https://dummyjson.com/products/2"
      APP_ENV: "production"
    command: >
      sh -c "cp /usr/share/nginx/html/assets/config-template.json /usr/share/nginx/html/assets/config.json &&
             sed -i 's#__API_URL__#${API_URL}#g' /usr/share/nginx/html/assets/config.json &&
             sed -i 's#__APP_ENV__#${APP_ENV}#g' /usr/share/nginx/html/assets/config.json &&
             nginx -g 'daemon off;'"
