version: "3.8"

services:
  angular-frontend:
    image: sanchaljustgrow/docker-testnew-frontend:latest
    container_name: angular-frontend
    ports:
      - "8080:80"
    volumes:
      # Mount your host config.json into the container
      - ./config/config.json:/usr/share/nginx/html/assets/config.json:ro
