services:
  angular-frontend:
    image: sanchaljustgrow/docker-testnew-frontend:latest
    container_name: angular-frontend
    ports:
      - "8081:80"
    environment:
      - NG_APP_URL=https://dummyjson.com/products/2
      - NG_APP_ENV=production
