services:
  angular-frontend:
    image: sanchaljustgrow/docker-testnew-frontend:latest
    container_name: angular-frontend
    ports:
      - "8081:80"  # match Dockerfile
    environment:
      - API_URL=https://dummyjson.com/products/2
    command: >
      sh -c "echo '{\"API_URL\": \"'$API_URL'\"}' > /usr/share/nginx/html/assets/config.json &&
      nginx -g 'daemon off;'"
